/* CaseStudy.module.css */

.caseStudy {
    padding: 40px 0;
  }
  
  .caseStudyTitle {
    font-size: 2.5rem;
    text-decoration: underline;
    font-weight: bold;
    margin-bottom: 20px;
    border: 2px solid #4c99e0;
    border-radius: 15px;
    text-align: center;
  }
  
  .caseStudyDescription {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .caseStudyCard {
    border: 2px solid #4c99e0;
    transition: transform 0.3s ease-in-out;
  }
  
  .caseStudyCard:hover {
    transform: scale(1.05);
  }
  
  .caseStudyCard .cardTitle {
    text-decoration: underline;
    position: relative;
    font-weight: bold;
  }
  
  .caseStudyCard .cardTitle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4c99e0;
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .caseStudyCard:hover .cardTitle::after {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
  
  .readMoreLink {
    color: #4c99e0;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-top: 15px;
  }
  
  .trustedSection {
    background-color: #f8f9fa;
    padding: 30px;
    border-radius: 12px;
  }
  
  .sectionHeading {
    position: relative;
  }
  
  .sectionHeading::before {
    content: '\2022';
    color: #4c99e0;
    font-size: 1.2em;
    position: absolute;
    left: -1.5em;
    top: 0.1em;
  }
  
  .sectionContent li {
    list-style-type: disc !important;
    margin-left: 1.5em;
  }
  
  .trustedList {
    list-style: none;
    padding: 0;
  }
  
  .trustedList li {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }