.mainContainer {
    /* display: flex;
    justify-content: center; */
    /* padding-top: 70px; 
    padding-left: 220px; 
    padding-right: 220px;  */
  }
  
  .mainContent {
    /* width: 100%; */
    /* max-width: 800px; Set a maximum width for the main content */
    padding: 20px;
  }