.slideshow {
    display: flex;
    
    /* justify-content: center; */
    position: relative;
    margin-top: 80px!important;
    /* margin-left: 27%!important; */
    /* border:10px solid red; */
    
   
    border-radius: "30px";
  }
  
  .slide {
    display: none;
    justify-content: center;
  }
  
  .slide > img {
    
    border-radius: 30px;
  }
  
  .slide.active {
    display: block;
  }
  
  
  /* Media Query for screens with a width of 768 pixels or more */
  @media screen and (max-width: 768px) {
    .slideshow {
      /* border:10px solid red; */
      margin-top: 50px;
      height:290px !important;
      /* width:140% !important; */
      margin-left: 2%!important;
      margin-right: 2%!important;
      
    }
  
  }