@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  margin: 0 !important;
  padding: 0 !important;
}

@media (min-width: 640px) {
  .main {
    margin-left: 100px !important;
    margin-right: 100px !important;
  }
}

@media (min-width: 1024px) {
  .main {
    margin-left: 260px !important;
    margin-right: 260px !important;
  }
}

.post-content .ql-video {
  width: 100% !important;
  height: 400px !important;
}

body::-webkit-scrollbar {
  display: none;
}

@layer components {
  .input-field {
    @apply w-full p-3 bg-gray-50 border border-gray-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }

  .fab-btn {
    @apply bg-blue-600 hover:bg-blue-700 text-white p-4 rounded-full shadow-lg transition duration-300 fixed bottom-6 right-6;
  }

  .icon-btn {
    @apply p-2 rounded-full transition duration-300;
  }
}
