/* VideoSection.css */
.video-section {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Put the video behind other content */
  }
  
  /* Add styles for rounded corners if needed */
  .video-section video {
    border-radius: 15px;
  }
  